body {
  margin: 0;
}

.logbar {
  background-color: lightgray;
  height: 30px;
  padding: 5px;
}
.bay {
  background-color: lightsteelblue;
  height: 100vh;
  width: 20%;
  padding: 10px;
  float: left;
}

